.title{
    font-size: xx-large;
}
.heading{
    color: white;
    font-size: x-large;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    box-sizing: border-box;
}